
@nestjs/core
@nestjs/platform-express
@nestjs/typeorm
@nestjs/config
typeorm
pg
@aws-sdk/client-s3
csv-parser
multer
uuid
class-validator
class-transformer
typescript
@types/express
@types/multer
@types/node
@types/uuid
ts-node
tsconfig-paths
